---
import BaseLayout  from '../layouts/BaseLayout.astro';

const pageTitle = "Erik Banek: About me";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>{pageTitle}</h2>
	<div class="row">
		<div class="column">
			Hello! My name is Erik Banek and I'm an entrepreneur.
			In my previous life I was a software engineer at Google Commerce, and before that I studied mathematical statistics and did mathematical competitions
		</div>
		<div class="column">
	<img class="personal-picture" src="/public/about.jpg" alt="Image of Erik's head.">
		</div>
</BaseLayout>
