---
import BaseLayout  from '../layouts/BaseLayout.astro';

const pageTitle = "Erik Banek: About me";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>{pageTitle}</h2>
	<div class="image-text-container">
		<p>
			Hello! My name is Erik Banek and I'm an entrepreneur.
			Here is <a href="https://www.linkedin.com/in/erik-banek/">my LinkedIn</a>.
			In my previous life I was a software engineer at Google Commerce (<a href="https://support.google.com/merchants/answer/188488?hl=en&sjid=16890128694835760250-EU">Click potential</a>, <a href="https://support.google.com/merchants/answer/11366442?hl=en&ref_topic=11543005">Competitive Visibility report</a>, <a href="https://support.google.com/merchants/answer/10265167?hl=en&ref_topic=11543005">performance reporting</a>), and before that I studied mathematical statistics and <a href="https://www.imo-official.org/participant_r.aspx?id=24801">competed in mathematical competitions</a>.
		</p>
	<img src="/about.jpg" alt="Image of Erik's head.">
</BaseLayout>
